html {
    height: 100%;
}

body {
    min-height: 100%;
}

.video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}


.video video {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.menu {
    padding: 5vh 2vw;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid rgb(167, 159, 159);
    border-radius: 10px;
    border: 2px solid rgba(0, 255, 255, 0.514);
    color: white;
    width: 25%; 
}


.imagem img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    border: 2px solid rgb(167, 159, 159);

}


.redes_sociais a {
    position: relative;
    top: 30px;
    left: 20px;
    color: white;
    text-decoration: none;
    margin-right: 20px;
    border-radius: 10px;
    padding: 6px;
    text-align: center;
    border: 2px solid rgb(167, 159, 159);
}

.redes_sociais a:hover {
    background-color: rgba(0, 0, 0, 0.507);
}

.musica iframe {
    padding: -5px;
    margin-top: 15%;
    margin-bottom: -8%;
    border-radius: 20px;
    padding: -20px;
    width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    .menu {
        width: 90%;
    }

    .video video {
        width: auto;
        height: 100%;
    }
}
